<div>
  <h3>Welcome</h3>
  <% if current_user %>
    <%= link_to "New Game", new_game_path %>
  <% else %>
    <%= link_to "New Game as Guest", new_game_path %>
  <% end %></br>
  <%= image_tag("cah_box.jpg",size: "300x187", id: "cah_image") %>
</div>

<footer id="legal">
<p ><b>Is this legal?</b>
  Yes. <a href="https://cardsagainsthumanity.com/">Cards Against Humanity</a>
  is distributed under a <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">
  Creative Commons BY-NC-SA 2.0 license</a>
  <p><a href="https://cardsagainsthumanity.com/#info">their FAQ</a></p>
</p>
</footer>
