<h1>Games</h1>
<% @games.each do |game| %>
  <%= link_to game.name, game %></br>
<% end %>






<p><b>Is this legal?</b>
  Yes. <a href="https://cardsagainsthumanity.com/">Cards Against Humanity</a>
  is distributed under a <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">
    Creative Commons BY-NC-SA 2.0 license</a>
    <a href="https://cardsagainsthumanity.com/#info">their FAQ</a>
</p>